/* --- ESTILIZAÇÃO ORIGINAL MANTIDA --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --deadpool-red: #FF001E;
  --deadpool-title-linear: linear-gradient(90deg, #FFF, #898989);
  --zinc-900: #141414;
}

html {
  font-size: 75%;
}

body {
  background-color: var(--zinc-900);
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  z-index: 10;
}

header .logo {
  width: 80px;
}

header>nav {
  display: none;
}

header>nav>ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

header>nav a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: var(--deadpool-red);
}

.user-auth img {
  height: 30px;
  filter: invert(1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.user-auth img:hover {
  transform: scale(1.1);
}

